<div class="form--input">
  <%= simple_form_for([@post, @post.comments.build], remote: true) do |f| %>
  
    <div class="form--input">
      <%= f.input :content, input_html: { class: "form-txt py-3" }, placeholder: "What do you want to comment?", label: false %>
    </div>
    <div class="form--input_elements d-flex justify-content-between mx-4">
      <div class="form--input_submit">
        <%= f.submit "Post Comment", class: "btn btn-flat", id: "post-submit", role: "status", remote: true %>
      </div>
    </div>
  <% end %>
</div>