<div class="footer bottom-container d-flex mt-auto">
  <div class="footer-links">
    <a href="https://github.com/igorsp95" target=”_blank” ><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/igorscheidegger/" target=”_blank” ><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/igor-scheidegger-parente/" target=”_blank” ><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made by <strong>Igor Parente</strong>.
  </div>
</div>