<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "Profile", user_path(current_user) %>

<%= link_to "Feed", user_feed_path(current_user) %>

<%= link_to "Users", users_path %>
