.footer {
  background: #242526;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  margin-top: 80px;
  color: rgba(0,0,0,0.3);
  margin-top: 32px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(243, 243, 243);
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  transition: 0.3s ease;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright{
  color: rgb(243, 243, 243);
}

@media (min-width: 100px) and (max-width: 575px){
  .footer{
    padding: 0px 20px;
  }

  .footer-links a {
    padding: 0px 7px;
  }
}